body {
	background-color: #eee;
	height: 100vh;
	font-family: sans-serif;
}

article {
	background-color: white;
	height: calc(100% - 20px);
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 600px;
}

header {
	height: 550px;
	overflow: hidden;
	position: relative;
}

img {
	width: 700px;
	position: absolute;
	top: -50px;
	left: -50px;
	opacity: 0.6;
}

input {
	border-radius: 3px;
	border-color: gray;
	border-width: 1px;
	height: 20px;
	margin-bottom: 10px;
}

input:focus {
	outline-color: pink;
}

label {
	margin: 10px;
}

.banner {
	background-image: linear-gradient(#036, #fff);
	width: 100%;
	height: 330px;
	transform: skewY(-10deg);
	transform-origin: top left;
}

.button {
	margin-top: 10px;
	height: 20px;
	width: 163px;
	background-color: #699;
	border-radius: 3px;
	border-color: #699;
	color: white;
	padding: 4px;
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
}

.button:hover, .button:focus {
	background-color: #7aa;
}

.password-text, .username-text {
	font-weight: bold;
}

.login-container {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 67%;
	top: 60%;
}
